* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.input{ padding-left: 289px;
  color: white;
  margin-top: 15px;
margin-bottom: 15px; }

.output{
  margin-top: -48px;
  color: white;
  margin-bottom: 15px;
  margin-left: 1002px;
}
.header {text-align: center;
  padding-top: 5px!important;
  overflow: hidden;
  background-color:#333;
}

.btn {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  right:0;
   padding: 0.4rem;
  width: 4rem;
  background: #333;
  color: whitesmoke;
  font-size: 1rem;
  outline:none;
  cursor:pointer;
   height:90vh;
}
.btn:hover{
   color:white;
   background: #4CAF50;
}


.main-editor {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background: #333;
  display: flex;
  width: 100%;
  margin-top: 0px;
  padding-top: px;
  box-shadow: 0 2px 3px #333;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.first {
  color: #333;
  border: 2px solid #333;
  background-color: white;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre;
  outline: none;
  padding: 0rem;
  height: 90vh;
}

.second {
  background-color: white;
  width: 50%;
  overflow-y: auto;
  white-space: pre;
  right: 0;
  border: 2px solid#333;
  padding: 0.4rem;
  height: 90vh;
}