    body {
        margin: 0;
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        background-image: url("6.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   /*background-size: 205rem;*/
    /*background-position-y: -76px;*/
   }
    
    .topnav {
      
      /*border-color:white;*/
      margin-left: 170px;
    margin-top: -56px;
    overflow: hidden;
    }
    
    .topnav a {

     /* border-top-color:white;*/
        float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 16px 25px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .active {
      color:rgb(0, 183, 255);
    }
    
    .topnav .icon {
      float: left;
      display: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 20px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #333;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn {
      cursor: pointer;
      color: white;
    }
    
    .dropdown-content a:hover {
      background-color: rgba(85, 85, 85, 0.103);
      color: white;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .logo a img{
      height: 3rem !important;
      margin-top: 56px;
      margin-left: 80px;
  }

 .reg{
  margin-left: 275px;
  margin-top: 0;
 }

 .banner{
    width: 80%;
    height: 70%;
    top: 20%;
    left: 140px;
    position: absolute;
    color: white;
}

.apptext{
  width: 50%;
  float: left;
}

.apptext h1{
 font-size: 43px;
 width: 640   px;
 position: relative;
 margin-left: 40px;
}

.apptext p  {
  font-size: 15px;
  width: 650px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #c3c3c3;
}

.picture{
  width: 50%;
  float:right;
}

.picture img{
 width: 95%;
 margin-top: -35px;
}
 .text-resp{
   display: none;
 }

 .social-icon{
   display: none;
 }

    @media screen and (max-width: 600px) {
      .topnav a{
        display:none;
      } 
      .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    /*.header-left a{display:none}*/
    @media screen and (max-width: 600px) {
      .topnav.responsive {
        background:rgba(0, 0, 0, 0.274);
        margin-left: 200px;
        position: relative;
      }
      .topnav.responsive .icon {
        position: absolute;
    right: 0px;
    top: 0;
    padding-top: 11px;
    padding-right: 15px;
      }
      .topnav.responsive a {
        padding: 14px 15px;
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }

      .text-resp{
        display: block;
      }

      .text-resp h1{
        text-align: left;
    font-size: 25px;
    /* margin-left: 20px; */
    color: white;
    margin: 70px 20px 20px 30px;
}
      .text-resp p{
        color: #c3c3c3;
        margin: 55px 20px 5px 30px;    
    }
    .text-resp div p{
      color: #c3c3c3;
      margin: 10px 30px 35px 30px;     
  }

    .text-resp h2{
            color: #1bafaf;
    margin: -50px 0px 0px 75px;
    }

    .text-resp img{
      width: 315px;
      margin: 0px 22px;
    }
      
      .banner{
        display: none;
      }

      .picture{
        display: none;
      }
      
      .reg{
        margin-left: 0;
        margin-top: 0;
       }

      body{
        width: 100%;
        height: 100%;
        background-image: url(pic3.png);
    background-size: 180rem !important;
      }

      .logo a img{
        height: 3rem !important;
        margin-top: 15px;
        margin-left: 15px;
    }

    .social-icon{
      display:block;
      margin-top:15px ;
      color: white;
  }

  .social-icon ul{
    display: inline-flex;
    margin: 25px 0px;
    text-align: center;
}

.social-icon ul li{
  list-style: none;
  margin: 0px 30px;
  cursor: pointer;
}
    }
  