* {
  box-sizing:border-box;
}

    html{
      scroll-behavior :smooth ;
    }

    body {
        margin: 0;
       font-family: American Typewriter, serif
       font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        background-image: linear-gradient(90deg, #3F0D40,#271F3A, #08445C);
   }



    .topnav {
    border-color: white;
    /* margin-left: 200px; */
    margin: -80px 0px 0px 0px;
    overflow: hidden;
    padding: 21px 0px 15px 220px;
    }

    .topnav a {

     /* border-top-color:white;*/
        float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 16px 25px;
      text-decoration: none;
      font-size: 17px;
    }

    .active {
      color:rgb(0, 183, 255);
    }

    .topnav .icon {
      float: left;
      display: none;
    }


    .topnav a:hover, .dropdown:hover .dropbtn {
      cursor: pointer;
      color: white;
    }

    .dropdown-content a:hover {
      background-color: rgba(85, 85, 85, 0.103);
      color: white;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .logo a img{
      height: 3rem !important;
      margin-top: 25px;
      margin-left: 80px;
  }

  .reg{
    margin-left: 300px;
    margin-top: 0px;
   }
 .banner{
    width: 80%;
    height: 70%;
    top: 18%;
    left: 140px;
    position: absolute;
    color: white;
}

.apptext{
  width: 50%;
  float: left;
}

.apptext h1{
 font-size: 43px;
 width: 640px;
 position: relative;
 margin-left: 40px;
}

.apptext p  {
  font-size: 15px;
  width: 650px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #c3c3c3;
}

.picture{
  width: 50%;
  float:right;
}

.picture img{
 width: 95%;
 margin-top: -35px;
}
 .text-resp{
   display: none;
 }

 .social-icon{
  display: block;
  margin-top: 34.6%;
  margin-left: 7.3%;
  color: white;
}

 ul{
display: inline-flex;
margin: 0px 0px;
text-align: center;
}

.social-icon ul li{
list-style: none;
margin: 0px 40px;
cursor: pointer;
}

/*container start here*/
.column {
  float: left;
  width: 25%;
  padding: 40px 15px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 80px 1px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row1 {
  text-align: center;
  background-image: linear-gradient(rgba(255,255,255,0), #ffffff30);
  padding: 20px 0%;
  margin: 0% 5%;
}
.row1 img {
  height: 3rem !important;
}

.row1 i {
    margin: 20px 0px 0px 0px;
    color: white;
    width: 200px;
    font-size: 150%;
}
/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
.btn{
  height: 100%;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    color: white;
    width: 100%;
    padding: 35px 0px;
    text-align: center;
    background-color: #ffffff30;
    outline-style: none;
    position: static;
}

.btn h2{
 color: rgb(71, 71, 71);
}

.btn h2:hover{
  color: rgb(71, 71, 71);

}

.btn:hover {
  border: 2px solid #ffffff30;
  background-color:rgba(0,0,0,0.1);
  color: white;
  box-shadow: 8px 8px #ffffff30;
  transition: .3s;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .footer i{
    font-size: 150%;
    width: 15%;
    margin: 50px 0px 49px 0px;
   }
}
    @media screen and (max-width: 600px) {
      .topnav a{
        display:none;
      }

      .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    /*.header-left a{display:none}*/
    @media screen and (max-width: 600px) {
      .topnav.responsive {
        margin: -56px 0px 0px 200px;
    background: rgba(0, 0, 0, 0.274);
    position: relative;
    padding: 0px 0px 0px 0px;
      }
      .topnav.responsive .icon {
        position: absolute;
    right: 0px;
    top: 0;
    padding-top: 11px;
    padding-right: 15px;
      }
      .topnav.responsive a {
        padding: 14px 15px;
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }

      .topnav{
      background-color: transparent;
        margin: -64px 0px 0px 0px;
        overflow: hidden;
        padding: 0px 0px;
      }

      .banner{
        display: none;
      }

      .picture{
        display: none;
      }

      .reg{
        margin-left: 0;
        margin-top: 0;
       }

      body{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg, #3F0D40,#271F3A, #08445C,#3F0D40);
      }

      .logo a img{
        height: 3rem !important;
        margin-top: 15px;
        margin-left: 15px;
    }

    .social-icon{
      margin-left: 0px;
      display:block;
      margin-top:15px ;
      color: white;
  }

  .social-icon ul{
    display: inline-flex;
    padding: 25px 10%;
    text-align: center;
}

.social-icon ul li{
  list-style: none;
  margin: 0px 30px;
  cursor: pointer;
}
    }

    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
    }

    .animate {
      -webkit-animation: animatezoom 0.2s;
      animation: animatezoom 0.2s;
    }
