body {
	font-family:Cambria;
	color:white;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
	background-image:url("bg2.png");
	width:100%;
	height:100%;
	backdrop-filter: blur(2px);
	
}

form {
	background-image: url(bg2.png);
	background-position: bottom;
	/*background-color: rgba(0,0,0, 0.4);  Black w/opacity/see-through */
	border:2px solid rgb(24,142,142);
	padding: 16px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 310px;
	height: 330px;
	
}
.header {
      text-align: center;
      padding-top: 5px!important;
	  overflow: hidden;
	  height:10%;
    }

input[type=text], input[type=password] {
	font-family:Cambria;
*/background-image: linear-gradient(to right,white, rgb(24,142,142));*/
	background-color:white;
	width: 95%;
	padding: 12px 20px;
	margin: 8px ;
	border: 1px solid rgb(24,142,142);
	box-sizing: border-box;
}

input[type=submit] {
	
	
	font-family: Cambria;
	background-color: rgb(24,142,142);
	color: white;
	padding: 10px 10px;
	border: none;
	margin-left:70%;
	width: 25%;
	cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.6;
}
a.forgot{
	margin-left:5%;
	font-family:Cambria;
color:red;
}
span.error{
	font-family: Cambria;
	margin-left:4%;
	color:rgb(24,142,142);
	font-size:large;
	font-weight:bold;
}
span.brack{
	font-family: Cambria;
	color:red;
	font-size:large;
	font-weight:bold;
}

label.headings{
	margin-left:5%;
	font-size:large;
}