* {
    box-sizing:border-box;
  }
      
      html{
        scroll-behavior :smooth ; 
      }
        
      body {
          margin: 0;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          text-align: left;
          background-image: white;
     }
  
  
      
      .topnav {
        background-color: #0382f3;
      /* margin-left: 200px; */
      margin: -80px 0px 0px 0px;
      overflow: hidden;
      padding: 21px 0px 15px 220px;
      }
      
      .topnav a {
  
       /* border-top-color:white;*/
          float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 16px 25px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .active {
        color:rgb(0, 183, 255);
      }
      
      .topnav .icon {
        float: left;
        display: none;
      }
    
      
      .topnav a:hover, .dropdown:hover .dropbtn {
        cursor: pointer;
        color: white;
      }
      
      .dropdown-content a:hover {
        background-color: rgba(85, 85, 85, 0.103);
        color: white;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
  
      .logo a img{
        height: 3rem !important;
        margin-top: 25px;
        margin-left: 80px;
    }
  
    .reg{
      margin-left: 400px;
      margin-top: 0px;
     }
   .banner{
      width: 80%;
      height: 70%;
      top: 18%;
      left: 140px;
      position: absolute;
      color: white;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.2s;
    animation: animatezoom 0.2s;
  }

  @media screen and (max-width: 600px) {
    .topnav a{
      display:none;
    } 
    
    .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  /*.header-left a{display:none}*/
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      margin: -56px 0px 0px 200px;
  background: rgba(0, 0, 0, 0.274);
  position: relative;
  padding: 0px 0px 0px 0px;
    }
    .topnav.responsive .icon {
      position: absolute;
  right: 0px;
  top: 0;
  padding-top: 11px;
  padding-right: 15px;
    }
    .topnav.responsive a {
      padding: 14px 15px;
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }

    .topnav{
    background-color: transparent;
      margin: -64px 0px 0px 0px;
      overflow: hidden;
      padding: 0px 0px;
    }
    
    .banner{
      display: none;
    }

    .reg{
        margin-left: 0;
        margin-top: 0;
       }

      body{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg, #3F0D40,#271F3A, #08445C,#3F0D40);
      }

      .logo a img{
        height: 3rem !important;
        margin-top: 15px;
        margin-left: 15px;
    }
}





.info {
  margin: 0;
  height: 50vh;
 font-family: sans-serif;
}


/**/

.inner {
  background: #9C27B0;
    padding: 1em;
    border-radius: 30px;
    clip-path: circle(20.6% at 50% 29%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    float: left;
    width: 29.33334%;
    margin: 20px;
}
.inner:hover {
  clip-path: circle(75%);
  background: #0382f3;
}
.inner h1 {
  color: white;
  margin: 0px 0px 0px 25px;
}
.inner i{
  color: black;
}
.inner p {
  color: white;
  font-size: 1rem;
  margin-left:25px;
}
.inner span {
  color: white;
    font-weight: bold;
    transition: color 0.5s;
    position: relative;
    margin-left: 29%;
}
.inner:hover span {
  color: rgba(255, 255, 255, 0);
}
