* {
    box-sizing:border-box;
  }
      
      html{
        scroll-behavior :smooth ; 
      }
        
      body {
          margin: 0;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          text-align: left;
          background-image: linear-gradient(45deg, #3F0D40,#271F3A, #08445C);
     }
      
      .topnav {
    
      margin: -80px 0px 0px 0px;
      overflow: hidden;
      padding: 20px 0px 15px 170px;
      }
      
      .topnav a {
  
       /* border-top-color:white;*/
          float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 16px 25px;
        text-decoration: none;
        font-size: 18px;
      }
      
      .active {
        color:rgb(0, 183, 255);
      }
      
      .topnav .icon {
        float: left;
        display: none;
      }
    
      
      .topnav a:hover, .dropdown:hover .dropbtn {
        cursor: pointer;
        color: white;
      }
      
      .dropdown-content a:hover {
        background-color: rgba(85, 85, 85, 0.103);
        color: white;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
  
      .logo a img{
        height: 3rem !important;
        margin-top: 40px;
        margin-left: 80px;
    }
  
   .reg{
    margin-left: 395px;
    margin-top: 0px;
   }
  
   .banner{
      width: 80%;
      height: 70%;
      top: 18%;
      left: 140px;
      position: absolute;
      color: white;
  }
  
  .apptext{
    width: 50%;
    float: left;
  }
  
  .apptext h1{
   font-size: 43px;
   width: 640   px;
   position: relative;
   margin-left: 40px;
  }
  
  .apptext p  {
    font-size: 15px;
    width: 650px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #c3c3c3;
  }
  
  .picture{
    width: 50%;
    float:right;
  }
  
  .picture img{
   width: 95%;
   margin-top: -35px;
  }
   .text-resp{
     display: none;
   }
  
   .social-icon{
    display: block;
    margin-top: 0%;
    margin-left: 7.3%;
    color: white;
  }
  
  .social-icon ul{
  display: inline-flex;
  margin: 0px 0px;
  text-align: center;
  }
  
  .social-icon ul li{
  list-style: none;
  margin: 0px 40px;
  cursor: pointer;
  }
  
  /*container start here*/
  .container{
    padding: 0px 0px;
  }

  .row{
      padding: 0px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .row1{
    background-color: #ffffff30;
    padding: 0px 0%;
    margin: 0% 5%;
}
.row1:after {
  content: "";
  display: table;
  clear: both
}
  .column-66 {
      /*background-color: #00000040;*/
    float: left;
    width: 57.66666%;
    padding: 0px 50px 0px 180px;
  }
  
  .column-33 {
    /*background-color: #00000040;*/
      /* text-align: center; */
      float: left;
      width: 42.33334%;
      padding: 0px 0px 0px 0px;
  }

  .col-a{
    color: white;
    text-align: center;
    float: left;
    width: 33.33333%;
    padding: 0px 0px 0px 0px;
  }
.col-a i{
  margin: 10px 20px;
  width: 10%;
  font-size: 150%;
}

  .col-b{
    color: white;
    text-align: center;
    float: left;
      width: 33.33333%;
      padding: 0px 0px 0px 0px;
  }

  .col-b img{
    margin: 0px 20px;
    height: 3rem !important;
  }

  .col-c{
    color:white;
    text-align: center;
    float: left;
      width: 33.33333%;
      padding: 0px 0px 0px 0px;
  }
  .col-c a{
    margin: 10px 25px;
    color: white;
    font-size: 100%;
    text-decoration: none;
  }
  .img1{
    width: 90%;
    display: block;
    height: auto;
    max-width: 100%;
    margin: -29px 0px 0px -67px;
  }

  .column-66 h1{
    font-size: 44px;
}
  
.column-66 img {
    display: none;
}

  /*container ends here*/
  @media screen and (max-width: 600px) {
    .column-66{ 
    margin-top: 20px;
      padding:0px 0px 30px 0px;
      width: 100%;
      text-align: left;
    }
    .column-66 h1{
        font-size: 34px;
    }
    .column-66 img {
        margin: 10px 0px;
        display:block;
        width: 100%;
    }
    
    .col-a{
        border-bottom-style: solid;
        border-bottom-color: grey;
        width: 100%;
    }

    .col-b{
        border-bottom-style: solid;
        border-bottom-color: grey;
        width: 100%;
  }

  .col-c{
        border-bottom-style: solid;
        border-bottom-color: grey;
        width: 100%;
   }

   .col-c a{
    margin: 10px 15px;
  }

    .img1{
        display: none;
    }
    .row{
        padding:0px 20px;
    }
    .row1{
      padding: 0px;
    }
    .respimg{
        display: block;
    }
  }
  
      @media screen and (max-width: 600px) {
        .topnav a{
          display:none;
        } 
        
        .dropdown .dropbtn {
          display: none;
        }
        .topnav a.icon {
          float: right;
          display: block;
        }
      }
      /*.header-left a{display:none}*/
      @media screen and (max-width: 600px) {
        .topnav.responsive {
          margin: -56px 0px 0px 200px;
      background: rgba(0, 0, 0, 0.274);
      position: relative;
      padding: 0px 0px 0px 0px;
        }
        .topnav.responsive .icon {
          position: absolute;
      right: 0px;
      top: 0;
      padding-top: 11px;
      padding-right: 15px;
        }
        .topnav.responsive a {
          padding: 14px 15px;
          float: none;
          display: block;
          text-align: left;
        }
        .topnav.responsive .dropdown {float: none;}
        .topnav.responsive .dropdown-content {position: relative;}
        .topnav.responsive .dropdown .dropbtn {
          display: block;
          width: 100%;
          text-align: left;
        }
  
        .topnav{
        background-color: transparent;
          margin: -64px 0px 0px 0px;
          overflow: hidden;
          padding: 0px 0px;
        }
        
        .banner{
          display: none;
        }
  
        .picture{
          display: none;
        }
        
        .reg{
          margin-left: 0;
          margin-top: 0;
         }
  
        body{
          width: 100%;
          height: 100%;
          background-image: linear-gradient(45deg, #3F0D40,#271F3A, #08445C,#3F0D40);
        }
  
        .logo a img{
          height: 3rem !important;
          margin-top: 15px;
          margin-left: 15px;
      }
  
      .social-icon{
        margin-left: 0px;
        display:block;
        margin-top:15px ;
        color: white;
    }
  
    .social-icon ul{
      display: flex;
      padding: 0px 15px;
      text-align: center;
  }
  
  .social-icon ul li{
    list-style: none;
    margin:0px 30px 30px 30px;
    cursor: pointer;
  }
      }
    
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
      }
      
      .animate {
        -webkit-animation: animatezoom 0.2s;
        animation: animatezoom 0.2s;
      }
      
      @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
      }  