/*body {
	font-family:Cambria;
	color:white;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
	background-image:url("6.jpg");
	width:100%;
	height:100%;
	backdrop-filter: blur(2px);

}*/

form.modal-content animate {
	font-family:Cambria;
	background-image: url(6.jpg);
	background-position: center;
	backdrop-filter: blur(2px);
	/*background-color: rgba(0,0,0, 0.9);  Black w/opacity/see-through */
	border:3px solid rgb(7,69,94);
	padding: 16px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 290px;
	height: 390px;
	overflow: auto;

}
.header {
      text-align: center;
	  overflow: hidden;
	  height:10%;
    }
h2{
	color:white;
	text-align:center;
}
input[type=text].user, input[type=password].pass {
	font-family:Cambria;
/*background-image: linear-gradient(to right,white, rgb(24,142,142));*/
	background-color:white;
	width: 95%;
	opacity:0.8;
	padding: 12px 20px;
	margin: 8px ;
	border: 1px solid rgb(24,142,142);
	box-sizing: border-box;
}

input[type=submit].sub {


	font-family: Cambria;
	/*background-color: rgb(24,142,142);*/
	background-color: rgb(7,69,94);

	color: white;
	padding: 10px 10px;
	border: none;
	margin-left:70%;
	width: 25%;
	cursor: pointer;
}

input[type=submit].sub:hover {
  opacity: 0.6;
}
a.forgot{
	margin-left:5%;
	font-family:Cambria;
color:red;
}
span.error{
	font-family: Cambria;
	margin-left:4%;
	color:rgb(24,142,142);
	font-size:large;
	font-weight:bold;
}
span.brack{
	font-family: Cambria;
	color:red;
	font-size:large;
	font-weight:bold;
}

label.headings{
	margin-left:5%;
	font-size:large;
	color:white;
}
.register{text-align: center;
	color:white;
	font-family:Cambria;
}
.modalreg {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}
.animate {
	-webkit-animation: animatezoom 0.2s;
	animation: animatezoom 0.2s;
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
