* {
    box-sizing:border-box;
  }
  ::selection {
    background: yellow;
  }
    
      html{
        scroll-behavior :smooth ; 
      }
        
      body {
          margin: 0;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          text-align: left;
          background-image: linear-gradient(215deg, #3F0D40,#271F3A, #08445C);
     }

      .topnav {
      border-color: white;
      /* margin-left: 200px; */
      margin: -80px 0px 0px 0px;
      overflow: hidden;
      padding: 21px 0px 15px 220px;
      }
      
      .topnav a {
  
       /* border-top-color:white;*/
          float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 16px 25px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .active {
        color:rgb(0, 183, 255);
      }
      
      .topnav .icon {
        float: left;
        display: none;
      }
    
      
      .topnav a:hover, .dropdown:hover .dropbtn {
        cursor: pointer;
        color: white;
      }
      
      .dropdown-content a:hover {
        background-color: rgba(85, 85, 85, 0.103);
        color: white;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
  
      .logo a img{
        height: 3rem !important;
        margin-top: 25px;
        margin-left: 80px;
    }
  
   .reg{
    margin-left: 300px;
    margin-top: 0px;
   }

  /* previous and next START */

  a.previous.round {
    border-radius: 50%;
    padding: 2% 0.5% 2% 0.5%;
    font-size: 2rem !important;
    margin-left: 5%;
}
a.previous {
  text-decoration: none;
    background-color: white;
    color: black;
}
a.next.round {
  font-size: 2rem !important;
    border-radius: 50%;
    /* float: right; */
    padding: 2% 0.8% 2% 0.5%;
    margin-left: 77%;
}
a.next {
  text-decoration: none;
  background-color: white;
  color: black;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;}


  /* previous and next END */
  .row {margin: -70px 1px 40px 1px;}

  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .row1{
    background-color: #ffffff30;
    padding: 0px 0%;
    margin: 0% 5%;
}
.row1:after {
  content: "";
  display: table;
  clear: both
}  
  .column-66 {   
      margin: 0% 15%;
      background: white;
      padding: 3%;       
      font-family: sans-serif;
      font-size: 105%;
      border-radius: 75px;
  }
  
    .column-66 p img{
      height: 300px!important;
    object-fit: contain;
    box-shadow: none!important;
    display: block;
    margin: 0 auto!important;
    float: unset!important;
    }

    .col-a{
      color: white;
      text-align: center;
      float: left;
      width: 33.33333%;
      padding: 0px 0px 0px 0px;
    }
  .col-a i{
    margin: 10px 20px;
    width: 10%;
    font-size: 150%;
  }
  
    .col-b{
      color: white;
      text-align: center;
      float: left;
        width: 33.33333%;
        padding: 0px 0px 0px 0px;
    }
  
    .col-b img{
      margin: 0px 20px;
      height: 3rem !important;
    }
  
    .col-c{
      color:white;
      text-align: center;
      float: left;
        width: 33.33333%;
        padding: 0px 0px 0px 0px;
    }
    .col-c a{
      margin: 10px 25px;
      color: white;
      font-size: 100%;
      text-decoration: none;
    }
  
    .syntaxhighlighter {
      width: 100%!important;
      margin: 1em 0 1em 0!important;
      position: relative!important;
      overflow: auto!important;
      font-size: 1em!important;
      margin-left: 5px;
  }
  .syntaxhighlighter.night {
    background-color: #08445c!important;
    color: white;
    padding: 30px;
  }
  
  .syntaxhighlighter table {
    width: 100%!important;
  }
  
  

  @media screen and (max-width: 600px) {
    .column-66{
      margin: 0% 0%;
      background: white;
      padding: 3%;
      font-family: sans-serif;
      font-size: 96%;
      border-radius: 15px;
    }
    .column-66 p img{
      width: 100%;
    }
    .col-a{
      border-bottom-style: solid;
      border-bottom-color: grey;
      width: 100%;
  }

  .col-b{
      border-bottom-style: solid;
      border-bottom-color: grey;
      width: 100%;
}

.col-c{
      border-bottom-style: solid;
      border-bottom-color: grey;
      width: 100%;
 }

 .col-c a{
  margin: 10px 15px;
}


a.previous.round {
display: none;
}
a.previous {
  display: none;
}
a.next.round {
  display: none;
}
a.next {
  display: none;
}
div.sticky {
  display: none;}



    .reg{
      margin-left: 0px;
      margin-top: 0px;
    }
    .row{
      margin: 10px 2px;
    }
    img {
      margin: auto;
    }
    .row1{
      padding: 0px;
    }
  
    .topnav a{
          display:none;
        } 
        
    .dropdown .dropbtn {
          display: none;
        }
    .topnav a.icon {
          float: right;
          display: block;
        }
    
     .topnav.responsive {
          margin: -56px 0px 0px 200px;
      position: relative;
      padding: 0px 0px 0px 0px;
        }
        .topnav.responsive .icon {
          position: absolute;
      right: 0px;
      top: 0;
      padding-top: 11px;
      padding-right: 15px;
        }
        .topnav.responsive a {
          padding: 14px 15px;
          float: none;
          display: block;
          text-align: left;
        }
        .topnav.responsive .dropdown {float: none;}
        .topnav.responsive .dropdown-content {position: relative;}
        .topnav.responsive .dropdown .dropbtn {
          display: block;
          width: 100%;
          text-align: left;
        }
  
        .topnav{
        background-color: transparent;
          margin: -64px 0px 0px 0px;
          overflow: hidden;
          padding: 0px 0px;
        }
        
        .banner{
          display: none;
        }
  
        .picture{
          display: none;
        }
        
      
        body{
          width: 100%;
          height: 100%;
          background-image: linear-gradient(45deg, #3F0D40,#271F3A, #08445C,#3F0D40);
        }
  
        .logo a img{
          height: 3rem !important;
          margin-top: 15px;
          margin-left: 15px;
      }

  .content {
    margin: auto;
    background: white;
    padding: 3%;
    /* vertical-align: baseline; */
    font-family: sans-serif;
    font-size: 105%;
    border-radius: 75px;
  }

  .content p img{
    height: 300px!important;
  object-fit: contain;
  box-shadow: none!important;
  display: block;
  margin: 0 auto!important;
  float: unset!important;
  }
      }
    
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
      }
      
      .animate {
        -webkit-animation: animatezoom 0.2s;
        animation: animatezoom 0.2s;
      }
      
      @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
      }  