body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
   
    background-image: url("pic3.png");
   background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
    background-position: center;
}

.topnav {
  
  border-style: solid;
  border-top-width: 1px;
  border-top-color:white ;
  border-left-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  /*border-color:white;*/
  margin-top: 0px!important;
  overflow: hidden;
  background-color: #333;
}

.topnav a {

 /* border-top-color:white;*/
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color:blue;
}

.topnav .icon {
  float: left;
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #555;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/*.header-left a{display:none}*/
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .img{
  text-align: center;
  orientation: center;
  margin-bottom: 5px;
  margin-top: 5px;
  }

  .txtwrap{
         max-width: 20%;
         height: auto;
  }

  .txtwrap1{
    margin-bottom: 0px;  
    margin-left: 30px;
      margin-top: -80px;
      max-width: 30%;
      height: auto;
  }
/*.header-left a{display:block;}*/
}

@media (min-width: 400px){
.w3-col.l6 {
    width: 49.99999%;
}
}

.header-right {overflow: hidden;
  background-color: #f1f1f1;
  padding: 0px 0px 0px 0px;
padding:0px 0px;
  float: right;
}

.header {text-align: center;
  padding-top: 5px!important;
  overflow: hidden;
  background-color:#333;
}

/*.header .img {
text-align: center;}*/


.img{text-align: left;
  orientation: center;
  margin-bottom: 5px;
  margin-top: 5px;
  
}

.float-right{
  float: right;
}
/*.header a.logo {
  font-size: 25px;
  font-weight: relative;
}*/
/*___________________________________________________________*/
